.box{
    border: solid;

}

#btn_plus{
    background-color: red;
    border: solid ;
    /* color: red; */
}

#btn_minus{
    background-color: blue;
    border: solid black ;
    color: white;
}


.purple{
    background-color: blueviolet;
}

.yellow{
    background-color: yellow;
}

.bar{
    width : 100%;
    height : 10%;
    background-color: aqua;
}
